[submodule "/home/yamanakayoshihiko/dotfiles/vimfiles/neobundle.vim"]
	path = /home/yamanakayoshihiko/dotfiles/vimfiles/neobundle.vim
	url = http://github.com/Shougo/neobundle.vim
[submodule "vimfiles/bundle/neobundle.vim"]
	path = vimfiles/bundle/neobundle.vim
	url = https://github.com/Shougo/neobundle.vim.git
